input[type="range"]::-webkit-slider-thumb {
    border: 3px solid #3b82f6;
    width: 20px;
    height: 20px;
}
.interest_rate div {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    background-color: transparent;
}
.income_boxes div {
    background-color: #f8fafc !important;
}
.adminFilter .bg-white.rounded-xl.shadow-sm.relative {
    border: none;
    box-shadow: none !important;
    padding-bottom: 0px;
}
.children_txt {
    margin-bottom: 0px !important;
    margin-top: 20px !important;
}
.price_size .text-gray-900 {
    font-size: 18px;
}
.total_row {
    margin-top: 11px !important;
    margin-bottom: 20px !important;
    background: #f9fafc;
}
.total_row span:first-child {
    font-weight: 700;
    color: #374151 !important;
}

.total_row span:nth-child(2) {
    font-weight: 700;
    color: #0369a1!important;
    font-size: 16px !important;
}
.violet-text > div p:nth-child(1) {
	color: #fff !important;
}
.violet-text > div p:nth-child(2) {
    color: #fff !important;
    font-weight: 900;
    font-size: 18px;
}

/* .violet-text > div p:nth-child(2) { */
    /* color: #fff !important; */
    /* font-weight: 900; */
    /* font-size: 18px; */
/* } */
/* .emerald-text > div p:nth-child(2) { */
    /* color: #047857 !important; */
    /* font-weight: 900; */
    /* font-size: 18px; */
/* } */
/* .amber-text > div p:nth-child(2) { */
    /* color: rgb(180 83 9) !important; */
    /* font-weight: 900; */
    /* font-size: 18px; */
/* } */
/* .teal-text > div p:nth-child(2) { */
    /* color: rgb(15 118 110); */
    /* font-weight: 900; */
    /* font-size: 18px; */
/* } */
.text-size-19 > div p:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
}
.total_return .total_return_outer > div {
    flex-direction: column;
    gap: inherit;
    justify-content: inherit;
    margin: 0px !important;
    border: 1px solid #D4E9F8;
    padding: 20px;
    background: rgb(240 249 255) !important;
    text-transform: uppercase;
    text-align: center;
	border-radius: 12px !important;
}
.total_return .total_return_outer > div span:nth-child(1) {
    font-size: 11px !important;
    color: rgb(55 65 81) !important;
    font-weight: 700;
}
.total_return .total_return_outer > div:last-child span:nth-child(2), .total_return .total_return_outer > div span:nth-child(2) {
    color: #1f2937 !important;
    font-size: 18px !important;
    font-weight: 900;
}
.distributions_color > div span:nth-child(2) {
    color: #b45309 !important;
    font-weight: 900 !important;
    font-size: 16px !important;
}
.savings_color > div span:nth-child(2) {
    color: #0369a1 !important;
    font-weight: 900 !important;
    font-size: 16px !important;
}

.font_15 p:nth-child(2){
	 font-size: 16px !important;
}
.tier-two {
text-transform: capitalize !important;

}
.tier-center td {
    text-align: center !important;
}
.tier-two th {
    text-align: center !important;
}
.sidebarShown .tier-two {
    font-size: 13px !important;
}

.SidebarNotShow .tier-two {
    text-transform: capitalize !important;
    font-size: 11px !important;
}

.SidebarNotShow .p-4 {
    padding-left: 10px !important;
    padding-right: 10px !important;
	
}
.sidebarShown .rate {
    font-size: 11px;
    font-weight: bold;
}
.income_boxes>:nth-child(2) {
    background-color: #ecfdf5 !important;
}
.income_boxes>:nth-child(1) {
    background-color: #fffbeb !important;
}

.tier-table tbody tr:nth-child(odd) {
  background: #ffffff !important; /* gray */
}

.tier-table tbody tr:nth-child(even) {
  background: #F9FAFB !important; /* white */
}
.tier-table-detail tbody tr:nth-child(odd) {
   background: #ffffff !important; /* gray */
  
}

.tier-table-detail tbody tr:nth-child(even) {
 background: #F9FAFB !important; /* white */
}

.description-box {
    padding: 30px;
}
.revenue-tier td{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.row-bg th {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.table_sec .revenue-hed {
    padding-left: 20px !important;
	padding-bottom: 10px !important;
	
}
.comps p {
    padding-left: 20px;
}
.str-main .str-box {
    padding: 14px !important;
    border-radius: 10px;
}

/* Odd Boxes */
.str-main .str-box:nth-child(1),
.str-main .str-box:nth-child(3),
.str-main .str-box:nth-child(5) {
    background-color: #ECFDF5;
}

/* Even Boxes */
.str-main .str-box:nth-child(2),
.str-main .str-box:nth-child(4),
.str-main .str-box:nth-child(6) {
    background-color: #FFFBEB;
}

.market-box {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

/* 
.rooms-col {
    padding: 0px !important;
}

.rooms-col .str-box:last-child {
    border-right: 0 !important;
}
.rooms-col {
    padding: 0px !important;
    border: 1px solid #ddd !important;
}
.rooms-col .str-box {
    padding-top: 15px !important;
    border-right: 1px solid #ddd !important;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
}
*/


.welcome-box {
    background: linear-gradient(135deg, rgb(24 102 161) 0%, rgb(30 120 188) 100%);
    padding: 60px 60px !important;
    color: #fff;
}
.workspace {
    padding-bottom: 0px !important;
}
.welcome-box p{
	font-size:20px !important;
	line-height:1.5em !important;
}

.welcome-box h1{
	font-size:45px !important;
	font-family: "DM Serif Display", Georgia, serif;
}

.welcome-box {
    display: flex;
	align-items:center;
	
}
.month-box{
	width:370px !important;
}
.sub-box-1 {
    padding-right: 80px;
}
.platform-box h2 {
    font-size: 30px;
	font-family: "DM Serif Display", Georgia, serif;
}
.platform-box p {
    font-size: 18px !important;
}
.platform-box  {
    background-color:#EEF2F6!important;
	margin-top: 60px !important;
	
}
.platform-box p {
    font-size: 18px !important;
    max-width: 60%;
}

.work-box-h {
    font-size: 18px;
}

.work-box svg {
    background: #1E7AC0 !important;
    color: #fff !important;
    padding: 11px !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 8px !important;
}
.workspace-h {
    font-size: 30px;
}
.workspace-p {
    font-size: 18px !important;
    padding-bottom: 30px;
}

.investment-box {
    padding: 25px 10px 60px !important;
}
.opp-box span {
    background: #E5EDF4 !important;
    color: #1E7AC0 !important;
    margin-bottom: 10px;
}

.investment-box h2 {
    font-size: 30px;
	font-family: "DM Serif Display", Georgia, serif;
}
.workspace-card h2 {
    font-size: 18px !important;
    font-weight: bold;
	color:#fff!important;
}
.workspace-card p {
    font-size: 18px !important;
	color:#fff!important;
}
.workspace-h {
    font-size: 30px !important;
	color: #072B53 !important;
	font-family: "DM Serif Display", Georgia, serif;

}
.workspace-p {
    font-size: 18px !important;
    padding-bottom: 30px;

}

.workspace .p-6 {
    background: linear-gradient(135deg, rgb(30 122 192) 0%, rgb(30 115 181) 100%);
}

.copy-footer {
    background: #1E2A3B !important;
    display: flex !important;
    justify-content: center !important;
}

.copy-footer> div {
    color: #fff !important;
	font-size:16px !important;
	
}

.cta-sec {
    background: linear-gradient(135deg, rgb(23, 82, 181) 0%, rgb(30, 42, 59) 100%);
    padding: 60px 60px !important;
    color: #fff;
}
.cta-sec h2 {
    font-size: 50px;
    font-family: "DM Serif Display", Georgia, serif;
    color: #fff;
    text-align: center;
}
.cta-sec p {
    font-size: 18px !important;
    text-align: center;
    padding-top: 20px;
}
.cta-sec a {
    text-align: center;
    display: block;
    background: #1E7AC0 !important;
    max-width: max-content;
    padding: 14px 30px;
    margin-inline: auto;
    margin-top: 20px;
    border-radius: 8px !important;
    font-size: 18px;
}

.test_scroll {
	top: 0;
    position: fixed;
    background: #fff !important;
    border-bottom: 2px solid #1E7AC0 !important;
    z-index: 40 !important;
}


@media screen and (max-width: 390px) {

.rate {
    font-size: 8px !important;
}
.scroll_bar {
    padding-left: 6px !important;
    padding-right: 6px !important;
}
.tier-two th {
    font-size: 10px !important;
    text-transform: capitalize;
    padding-left: 3px !important;
}
}



@media screen and (max-width: 767px) {


.revenue-tier td{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.row-bg th {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.table_sec .revenue-hed {
    padding-left: 10px !important;
}
.comps p {
    padding-left: 10px;
}
.revenue-hed h2 {
    font-size: 14px;
}
.gr-box span {
    font-size: 11px !important;
	
}
.gr-box {
    gap: 10px !important;
}
.tier-two th {
    font-size: 9px !important;
}
.gr-box .text-right {
    text-align: left !important;
}
.gr-box {
    flex-wrap: wrap;
}
.annual-exp {
    gap: 0 !important;
    margin-left: -6px !important;
}


.logo_img img {
    width: 200px;
    object-fit: contain;
    height: auto !important;
}

.select_width {
    width: 100%;
    padding: 10px;
}
.font_12 {
    font-size: 12px !important;
    line-height: 1.2 !important;
    order: 3;
    width: 100%;
    text-align: right;
}
.clientView {
    position: absolute !important;
    left: 0px !important;
    z-index: 9999;
    top: 0 !important;
    height: 100vh !important;
}
.fixed_div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;
}
.flex_wrap{
    flex-wrap: wrap;
    justify-content: space-between;
}
.submit_btn {
    font-size: 13px !important;
    padding: 9px 10px !important;
}
.propertie_box h1 {
    font-size: 26px;
    line-height: 1.2;
}
.adminFilter .bg-white.rounded-xl.shadow-sm.relative {
    padding-left: 10px;
    padding-right: 10px;
}
.advanced_filters {
    width: 100%;
}
.advanced_filters button {
    width: 100%;
}
.adminFilter .grid.grid-cols-3, .adminFilter .grid.grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.children_txt {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.popup-zindex {
    z-index: 999 !important;
    overflow-y: auto !important;
    align-items: start !important;
}
.form_btn_width {
    width: 100%;
    text-align: center;
}
.form_btn_width button span {
    text-align: center !important;
    justify-content: center;
}
.form_btn_width button {
    width: 100% !important;
    text-align: center !important;
}
.one_time_fees .flex span:first-child {
    width: 60%;
    word-wrap: break-word;
}
.total_row {
    padding: 10px 20px;
}
.mobile_width{
	width: 540px;
}
.total_value .total_row {
    padding-left: 13px !important;
    padding-right: 13px;
}
.total_return .total_return_outer > div {
    row-gap: 5px !important;
}
.table_sec table {
    width: 570px;
}
.total_row {
    padding-left: 13px !important;
    padding-right: 13px !important;
}

.welcome-box {
    flex-wrap: wrap !important;
	justify-content: center !important;
	padding: 40px 15px !important;
}

.month-box {
    width: 320px !important;
    margin-top: 30px !important;
}

.welcome-box h1 {
    font-size: 30px !important;
    text-align: center;
    line-height: 1.3em;
}
.sub-box-1 {
    padding-right: 0;
}
.welcome-box p {
    font-size: 18px !important;
	text-align:center;
	
}

.btns-col a {
    display: flex;
    margin: auto;
    align-items: center;
    padding: 12px 17px;
}

.platform-box p {
    font-size: 18px !important;
    max-width: 100% !important;
}

.workspace-card{
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
.investment-box {
    padding: 20px 5px 25px !important;
}
.padding-m {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 30px !important;
}

.cta-sec {
    padding: 30px 20px !important;
}
.cta-sec h2 {
    font-size: 29px;
    line-height: 40px;
}
.cta-sec p {
    padding-top: 5px;
}
.btns-col {
    flex-wrap: wrap;
}
.workspace .p-6 {
    padding: 20px !important;
}

}